html {
    max-width:1000px;
    margin: auto;
  
   
}

main  {
  
    color: black;
    max-width: 900px;
    background-color: transparent;
    padding: 1em;
    margin: 10px;
    border: solid #ff6b6b;
}

body{
    background-color: white;
    border: solid #1a535c;
color: black;
text-align: left;
    padding: 5px 25px;
    font-size: 18px;
    margin: 10px;}

    h1{
     text-align: left;
    }

h2,h3,h4,h5{
    border: solid #4ecdc4;
    color: black ;
    font-size: 20px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
  float: left;
 
}

li a {
   
    display: block;
    color: black;
    padding: 14px ;
    text-decoration: none;
}

  
 
   

img{
    width: 111px;
        float: right;
}

footer{
    text-align: center;
}